*{
    color-scheme: light dark;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Inter", sans-serif;
    background: #000;
    color: #EBEBDF;
}
.header {
    padding: 0 12%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #171717;
}
.headerLogo {
    font-weight: bold;
    font-size: 20px;
    color: #EBEBDF;
    cursor: pointer;
}

.headerButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLanguage img{
    width: 37px;
}
.headerLanguage{
    text-align: center;
    height: 37px;
}

.headerLogin {
    display: flex; 
    align-items: center;
    margin-right: 25px; 
    font-weight: 400; 
    color: #A3A3A3; 
}

.headerLogin a {
    text-decoration: none; 
    color: inherit;
    margin: 0 5px; 
}

.headerLogin a:hover {
    text-decoration: underline;
}

.mainTittle {
    margin-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tittleTool {
    text-align: center;
    font-size: 80px;
    background: linear-gradient(to top, #A3A3A3 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    line-height: 80px;
}

.subttitleTool {
    margin-top: 15px;
    color: #A3A3A3;
    font-weight: 400;
    font-size: 24px;
}

.reviewsButton:hover {
    box-shadow: 0px 0px 30px 0px #E2090D;
    transform: translate(0px, -1px);
}

.reviewsButton {
    margin-top: 70px;
    font-weight: 500;
    font-size: 18px;
    width: 147px;
    height: 64px;
    background: #E2090D;
    color: #000;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}

.arrowBtn {
    margin-right: 5px;
}

.tariffs {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tariffCards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tariffCardsColumn {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.tariffCard {
    margin: 10px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    border: 2px solid #ebebdf10;
    padding: 20px 0;
    border-radius: 8px;
    transition: 0.2s;
}
.tariffCard:hover {
    transform: translate(0px, -2px);
}

.tariffsTittle {
    color: #EBEBDF;
    font-weight: bold;
    line-height: 48px;
    font-size: 36px;
}

.tariffsSubittle {
    text-align: center;
    margin-top: 30px;
    color: #A3A3A3;
    font-weight: 400;
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 70px;
}

.tariffBuyButton {
    margin: 10px 35px;
    width: 288px;
}

.tariffBuy {
    position: relative;
    width: 288px;
    height: 48px;
    border-radius: 15px;
    border: 2px solid #E2090D;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #EBEBDF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
    transition: 0.2s;
}

.tariffBuy:hover {
    background: #E2090D;
}

.tariffBtnCart {
    position: absolute;
    right: 15px;
}

.tariffName {
    background: linear-gradient(to top, #A3A3A3 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.tariffInclusions {
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #A3A3A3;
}

.answerTittle {
    color: #E2090D;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
}

.answerSubtittle {
    color: #EBEBDF;
    font-weight: bold;
    line-height: 48px;
    font-size: 36px;
}

.answers {
    display: flex;
    align-items: center;
    justify-content: center;
}

.acor-container {
    margin-left: 60px;
    min-width: 37%;
}

.acor-container .acor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: #EBEBDF;
    line-height: 27px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 2px solid #262626;
}

.acor-container .acor-body p {
    margin: 0 0 10px;
}

.acor-container label {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    width: 100%;
    color: #EBEBDF;
    font-weight: 400;
    box-sizing: border-box;
    z-index: 100;
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}

.acor-container label:hover {
    color: #EBEBDF;
}

.acor-container input {
    display: none;
}

.acor-container label:before {
    content: '\276F';
    float: right;
}

.acor-container input:checked+label {
    color: #EBEBDF;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.4), 0 28px 30px rgba(0, 0, 0, 0.3);
}

.acor-container input:checked+label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}

.acor-container input:checked+label+.acor-body {
    height: auto;
    margin-top: -5px;
    color: #A3A3A3;
    padding: 20px 30px 10px;
}

.acorTittle {
    margin-bottom: 40px;
    color: #525252;
    font-weight: 500;
    font-size: 18px;
}

.footer {
    margin-top: 30px;
    border-top: 2px solid #171717;
    padding: 0 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    color: #A3A3A3;
}

.copyright {
    font-weight: 400;
    font-size: 16px;
}

.footerButtons {
    display: flex;
}

.nav {
    margin-left: 70px;
    font-weight: 400;
    color: #A3A3A3;
    font-size: 16px;
}

.navItem {
    list-style: none;
    color: #EBEBDF;
}

.navItem a {
    color: #EBEBDF;
}

.navItemBtn {
    text-decoration: none;
}

@media (max-width: 1400px) {
    .tittleTool{
        font-size: 60px;
        line-height: 60px;
    }
}
@media (max-width: 1100px) {
    .tittleTool{
        font-size: 50px;
        line-height: 50px;
    }
    .subttitleTool{
        font-size: 20px;
    }
    .tariffCardsColumn{
        grid-template-columns: repeat(2, 1fr);
    }
    .acor-container {
        margin-left: 20px;
        min-width: 37%;
    }
    .acor-container label{
        margin-left: 10px;
    }
}
@media (max-width: 900px) {
    .tittleTool{
        font-size: 40px;
        line-height: 40px;
    }
    .subttitleTool{
        font-size: 18px;
    }
    .tariffCardsColumn{
        grid-template-columns: repeat(1, 1fr);
    }
    .answerSubtittle {
        max-width: 600px; /* Укажите подходящую максимальную ширину */
        font-size: 30px;
        line-height: 38px;
        word-wrap: break-word; /* Перенос слов по слогам */
    }    
    .acorTittle{
        margin-bottom: 0;
        font-size: 16px;
    }
    .acor-container label{
        font-size: 14px;
    }
    .nav {
        margin-left: 20px;
    }
}
@media (max-width: 700px) {
    .tittleTool{
        font-size: 30px;
        line-height: 30px;
    }
    .subttitleTool{
        font-size: 15px;
    }
    .answers{
        flex-direction: column;
    }
    .answerTittles{
        margin-bottom: 30px;
    }
    .acorTittle{
        margin-left: 30px;
    }
    .nav{
        font-size: 13px;
    }
    .copyright{
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .headerLogin{
        font-size: 13px;
        margin-right: 15px;
    }
    .tariffCard{
        padding: 0px 10px;
        max-width: 300px;
    }
    .footer{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .copyright{
        margin-bottom: 20px;
    }
}
@media (max-width: 400px) {
    .header{
        padding: 0 5%;
    }
    .tariffCard{
        max-width: 250px;
    }
    .tariffBuy{
        width: 200px;
    }
}
h3.copyright {
    margin-bottom: 0; 
}

h6 {
    margin-top: 15px; 
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
